<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<b>Move ID: </b> <span th:text="${move.id}"></span><br>
<form id="editForm" th:action="@{/addMove}" th:object="${move}" method="POST">
	<input type="hidden" name="id"  th:field="*{id}">
	<label for="name">Name:</label><br>
	<input type="text" id="name" name="name" th:field="*{name}"><br>
	<label for="power">Power:</label><br>
	<input type="text" id="power" name="power" th:field="*{power}"><br>
	<label for="accuracy">Accuracy:</label><br>
	<input type="text" id="accuracy" name="accuracy" th:field="*{accuracy}"><br>
	<label for="type">Type:</label><br>
	<input type="text" id="type" name="type" th:field="*{type}"><br>
	<label for="Description">Description:</label><br>
	<input type="text" id="description" name="description" th:field="*{description}"><br>
	<input type="submit" value="Submit">
	<button type="button" value="Cancel" th:onclick="window.location.href='/moves'">Cancel</button>
</form>


</body>
</html>