<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body onload="getSpecies()">
POKEMON<br><br>
<div id="listArea"></div>
<br><br>
<a href="/addSpecies">Add a new Pokemon</a>

<script>
const getSpecies = async () => {
	const response = await fetch('http://localhost:8080/getSpecies'); //hit REST endpoint
	const myJson = await response.json(); //read response from endpoint as JSON
	const listArea = document.getElementById("listArea");
	for (var i = 0; i < myJson.length; i++) {
		const newItem = document.createElement("a");
		const text = document.createTextNode(myJson[i][1]); //get Species name
		newItem.href = "/species?pokedexNum=" + myJson[i][0];
		newItem.appendChild(text);
		listArea.appendChild(newItem);
		listArea.appendChild(document.createElement("br"));
	}
}
</script>

</body>
</html>